@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0099FF;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-page {
    width: 360px;
    padding: 50px 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button.btn-success {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form label {
    margin-bottom: 15px;
}

.form label.btn-primary {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}

.btn {
    border-radius: 0;
}

.form a.btn-danger {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

body > .container {
    padding-top: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.container .text-muted {
    margin: 20px 0;
    text-align: center;
    color: #777;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.text-warning {
    color: #b85276;
    font-weight: 900;
}

.message-warning {
    margin: 15px 0 0;
}

.text-success {
    color: #52b861;
}

thead th {
    background-color: #006DCC;
    color: white;
}

tbody td {
    background-color: #EEEEEE;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

img.avatar {
    width: 100%;
    padding-bottom: 15px;
}

nav.main-pagination{
    text-align: center;
    margin-top: 75px;
}

img.fb-button {
    width: 70px;
    margin-top: 15px;
}