@(paginatedUserList: com.avaje.ebean.PagedList[User])

@link(newPage:Int) = @{
    routes.UserController.list(newPage)
}

@main("User list") {

    <div class="container">
        <div class="row">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                @for((user, index) <- paginatedUserList.getList.zipWithIndex) {
                    <tr>
                        @if(paginatedUserList.getPageIndex == 0) {
                            <td>@{index + 1}</td>
                        } else {
                            <td>@{paginatedUserList.getPageIndex * paginatedUserList.getPageSize + (index + 1)}</td>
                        }
                        <td>@user.getName</td>
                        <td>@user.getEmail</td>
                        <td>@user.getAccountRole</td>
                    </tr>
                }
                </tbody>
            </table>
            <nav class="main-pagination">
                <ul class="pagination">
                    @if(paginatedUserList.hasPrev) {
                        <li class="prev">
                            <a href="@link(paginatedUserList.getPageIndex - 1)">&larr; Previous</a>
                        </li>
                    } else {
                        <li class="prev disabled">
                            <a>&larr; Previous</a>
                        </li>
                    }
                    <li class="current">
                        <a>Displaying @paginatedUserList.getDisplayXtoYofZ(" to "," of ")</a>
                    </li>
                    @if(paginatedUserList.hasNext) {
                        <li class="next">
                            <a href="@link(paginatedUserList.getPageIndex + 1)">Next &rarr;</a>
                        </li>
                    } else {
                        <li class="next disabled">
                            <a>Next &rarr;</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

}
