@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Login", nav = "login") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/login" method="post">
                <input type="text" name="login" placeholder="username or email"/>
                <input type="password" name="password" placeholder="password"/>
                <button type="submit" class="btn btn-success">login</button>
                <p class="message">Not registered? <a href="@routes.RegisterController.register()">Create an account</a></p>
                <a href="/login/facebook"><img class="fb-button" src="@routes.Assets.at("fb.png")" /></a>
            </form>
            @if(flash.contains("logout")) {
                <p class="text-success text-center message-warning">
                @flash.get("logout")
                </p>
            }
            @if(flash.contains("loginFailed")) {
                <p class="text-warning text-center message-warning">
                @flash.get("loginFailed")
                </p>
            }
        </div>
    </div>

}
