@(bookForm: Form[Contact])
@main("Add contact", nav = "add-contact") {

    @helper.form(action = routes.ContactController.add()) {
        <div class="login-page">
            <div class="form">
                <form class="register-form">

                    <input type="text" name="firstName" placeholder="first name"/>
                    <input type="text" name="lastName" placeholder="last name"/>
                    <input type="text" name="company" placeholder="company"/>
                    <input type="email" name="email" placeholder="email"/>
                    <input type="tel" name="tel" placeholder="phone"/>

                    <button type="submit" class="btn btn-success">add</button>
                    <a href="@routes.ContactController.list(0)" class="btn btn-danger" role="button">cancel</a>
                </form>
            </div>
        </div>

    }
}
