@(id: Long, contact: Form[Contact])
@main("Edit contact", nav = "edit-contact") {

  @helper.form(action = routes.ContactController.update(id)) {
    <div class="login-page">
      <div class="form">
        <form class="register-form">

          <input type="text" name="firstName" placeholder="first name" value="@contact.get().getFirstName"/>
          <input type="text" name="lastName" placeholder="last name" value="@contact.get().getLastName"/>
          <input type="text" name="company" placeholder="company" value="@contact.get().getCompany"/>
          <input type="email" name="email" placeholder="email" value="@contact.get().getEmail"/>
          <input type="tel" name="tel" placeholder="phone" value="@contact.get().getTel"/>

          <button type="submit" class="btn btn-success">update</button>
          <a href="@routes.ContactController.list(0)" class="btn btn-danger" role="button">cancel</a>

        </form>
      </div>
    </div>

  }
}
