@(paginatedContactList: com.avaje.ebean.PagedList[Contact])

    @link(newPage:Int) = @{
        routes.UserController.list(newPage)
    }

@main("Contact list", nav = "contact-list") {

    <div class="container">
        <div class="row">
        @if(paginatedContactList.getList.isEmpty) {
            <h3 class="text-center"><strong>No entries yet.</strong></h3>
        } else {
            <table class="table">
                @if(flash().contains("contactUpdated")) {
                    <p class="text-primary text-center message-warning">
                    @flash.get("contactUpdated")
                    </p>
                }
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for((contact, index) <- paginatedContactList.getList.zipWithIndex) {
                    <tr>
                        @if(paginatedContactList.getPageIndex == 0) {
                            <td>@{index + 1}</td>
                        } else {
                            <td>@{paginatedContactList.getPageIndex * paginatedContactList.getPageSize + (index + 1)}</td>
                        }
                        <td>@contact.getFirstName</td>
                        <td>@contact.getLastName</td>
                        <td>@contact.getCompany</td>
                        <td>@contact.getEmail</td>
                        <td>@contact.getTel</td>
                        <td><a href="@routes.ContactController.edit(contact.getId)"><span class="glyphicon glyphicon-edit" title="edit"  aria-hidden="true"></span></a></td>
                        <td><a href="@routes.ContactController.delete(contact.getId)"><span class="glyphicon glyphicon-remove" title="remove" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <nav class="main-pagination">
                <ul class="pagination">
                    @if(paginatedContactList.hasPrev) {
                        <li class="prev">
                            <a href="@link(paginatedContactList.getPageIndex - 1)">&larr; Previous</a>
                        </li>
                    } else {
                        <li class="prev disabled">
                            <a>&larr; Previous</a>
                        </li>
                    }
                    <li class="current">
                        <a>Displaying @paginatedContactList.getDisplayXtoYofZ(" to "," of ")</a>
                    </li>
                    @if(paginatedContactList.hasNext) {
                        <li class="next">
                            <a href="@link(paginatedContactList.getPageIndex + 1)">Next &rarr;</a>
                        </li>
                    } else {
                        <li class="next disabled">
                            <a>Next &rarr;</a>
                        </li>
                    }
                </ul>
            </nav>
        }

        </div>
    </div>
}
