@(userForm: Form[User])
@main("Register", nav = "register") {

    @helper.form(action = routes.RegisterController.register()) {
        <div class="login-page">
            <div class="form">
                <form class="register-form">
                    <input type="text" name="name" placeholder="username"/>
                    <input type="password" name="password" placeholder="password"/>
                    <input type="email" name="email" placeholder="email"/>
                    <button type="submit" class="btn btn-success">create</button>
                    <p class="message">Already registered? <a href="@routes.LoginController.blank()">Sign In</a></p>
                </form>
                @if(flash.contains("userExists")) {
                    <p class="text-warning text-center message-warning">
                    @flash.get("userExists")
                    </p>
                }
                @if(flash.contains("passwordLength")) {
                    <p class="text-warning text-center message-warning">
                    @flash.get("passwordLength")
                    </p>
                }
            </div>
        </div>

    }
}
