@(nav: String = "")
<nav class="navbar-default">
    <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index()">CRM</a>
        </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@("active".when(nav == "contact-list"))"><a href="@routes.ContactController.list(0)">Contacts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if(session().isEmpty()) {
                    <li class="@("active".when(nav == "register"))"><a href="@routes.RegisterController.blank()">Register</a></li>
                    <li class="@("active".when(nav == "login"))"><a href="@routes.LoginController.blank()">Login</a></li>
                } else {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@session().get("name") <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@routes.UserController.editProfile()">Edit profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@routes.ContactController.list(0)">Contacts</a></li>
                            <li><a href="@routes.ContactController.blank()">Add contact</a></li>
                            @if(session().get("userRole").equalsIgnoreCase("ADMIN")) {
                                <li role="separator" class="divider"></li>
                                <li><a href="@routes.UserController.list(0)">Users list</a></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li><a href="@routes.LoginController.logout()">Logout</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>