@main("Main page", nav = "main") {

    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

                <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="@routes.Assets.at("slider/contact-list.png")" alt="Flower" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>much improve.</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="@routes.Assets.at("slider/user-list.png")" alt="Flower" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>so amaze.</h3>
                    </div>
                </div>
                <div class="item">
                    <img src="@routes.Assets.at("slider/contact-list.png")" alt="Flower" width="460" height="345">
                    <div class="carousel-caption">
                        <h3>wow.</h3>
                    </div>
                </div>
            </div>

                <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

}
