@(profile: Form[User])
@main("Profile edit") {

    @helper.form(action = routes.UserController.updateProfile(), 'enctype -> "multipart/form-data") {
        <div class="login-page">
            <div class="form">

                <form class="register-form">

                    <img class="avatar" src="@routes.Assets.at("picture/")@profile.get().getPicture" />

                    <input type="text" name="name" placeholder="username" value="@profile.get().getName"/>
                    <input type="password" name="password" placeholder="password"/>
                    <input type="email" name="email" placeholder="email" value="@profile.get().getEmail"/>

                    <label class="btn btn-primary">
                        profile picture<input type="file" name="picture" style="display: none;">
                    </label>
                    <button type="submit" class="btn btn-success">update</button>
                    <a href="@routes.ContactController.list(0)" class="btn btn-danger" role="button">cancel</a>
                </form>
                @if(flash.contains("nameExists")) {
                    <p class="text-warning text-center message-warning">
                    @flash.get("nameExists")
                    </p>
                }
                @if(flash.contains("emailExists")) {
                    <p class="text-warning text-center message-warning">
                    @flash.get("emailExists")
                    </p>
                }
                @if(flash.contains("fileError")) {
                    <p class="text-warning text-center message-warning">
                    @flash.get("fileError")
                    </p>
                }
            </div>
        </div>

    }
}
